*{
    margin: 0;
    padding: 0;
   
}
a{
    text-decoration: none;
    
}
li{
    list-style: none;
}

body{
    font-family: "Mukta", sans-serif;
}
header{
    width:100%;
}
.container{
    width:1140px;
    margin:0 auto;
}
.topbar{
    width:100%;
    background-color:white;
    padding:40px 0;
}
.topbar-content{
    display:flex;
    justify-content:space-between;
}
.logo a{
    text-transform:uppercase;
    font-size:20px;
    font-weight:300;
    color:#25262a;
    letter-spacing:2px;
    padding:4px 14px;
    border:2px solid black;
}
.topbar-icon a{
    color:#868995;
    margin-left:8px;
}
.topbar-icon a:hover{
    color:#25262a;
}
.topbar input{
    font-size: 16px;
    padding: 12px;
    border: none
}
.topbar input:focus{
    outline:none;
    padding:0px;
}
.topbar form i{
    color:#868995;
}
.main-menu li{
    display:inline-block;
    margin-right:30px;
    color:red;
}
.main-menu{
    text-align:center;
    padding:20px 0;
}
.main-menu li a{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:300;
}
.banner{
    width:100%;
    /* Use the actual static URL for the existing image file */
    background-image: url("/static/images/img1.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:scroll;
    background-position:center;
    padding:120px 0px;
    margin-bottom:45px;

}
.banner-content{
    display:flex;
    align-items:center;
    gap:20px;
    width:100%;
}
.left{
    flex: 60%;
}
.right{
    flex: 40%;
    min-width: 0; /* allow the item to shrink below its content's intrinsic size */
}
.right h1{
    font: size 50px;
    color:#25262a;
    margin: 0px 0px 8px;
}
.right p{
    font-size:20px;
    color:#868995;
    line-height:1.8;
    margin-bottom:20px;
}
.right button{
    padding:12px 30px;
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:2px;
    border:none;
    background-color:#7971ea;
    color:white;
    cursor:pointer;
     padding:12px 24px;
     border:none;
}
.right button:hover{
    transform: translateY(-4px);
    background-color:#7971ea;
    padding:12px 24px;
     border:none;
}
.about{
    width:100%;
    padding:60px 0px;
}
.about-container{
    display:grid;
    grid-template-columns:auto auto auto;
    column-gap:20px;
}
.item{
    display:flow-root;

}
.icon{
    float:left;
    width:20%;
}
.content{
    float:left;
    width:80%;
}
.icon i{
    font-size:42px;
    color:red;
}
.img-fluid{
    max-width:100%;
    height:auto;
}
.catagory-content{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 32px;
}
.c-item{
    position: relative;
    overflow:hidden;
}
.overlay{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-image: linear-gradient(to bottom,);
}
.c-item:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}